<!DOCTYPE html>
<html>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <h1>Workshop Grades</h1>
  <header>
  <% include ./partials/header %>
</header>
  <head>
    <title>Workshop Grades</title>
  </head>
<body>
<a href="javascript:history.back()"> Volver Atrás</a>
<h4>Lista de alumnos matriculados:</h4>
<form method='GET' action='/grades' id="resp" enctype="application/x-www-form-urlencoded">
<input type="hidden" value=<%=url%> name='url'>
<input type="hidden" value=<%=array%> name='response'>
<input type="hidden" value=<%=token%> name='token'>
<input type="hidden" value=<%=courseid%> name='courseid'>
<input type="hidden" value=<%=workshopid%> name='workshopid'>

<div class="row">
<br></br>
<div class="col-md-3">
<ul id="id" name="id"></ul>
<script type="text/javascript">
var arrays = <%- JSON.stringify(array) %>;
for(i=0;i<arrays.length;i++){
  var li = document.createElement("li");
  li.text = arrays[i].id+'-'+arrays[i].fullname;
  li.value = arrays[i].id;
  li.appendChild(document.createTextNode(li.text));
  document.getElementById("id").appendChild(li);
  
}
</script>
<br></br>
<br></br>
<br></br>
<input type="submit" value="Notas" padding= 200px> 
</div></div>
</form>
<br/> 
</body>
<footer>
<br/><br/><br/><br/>
    <% include ./partials/footer %>
</footer>
</html>