<!DOCTYPE html>
<html>
<link rel='stylesheet' href='./stylesheets/style.css' />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <h1>Moodle Workshop Data EXtractor (MWDEX)</h1>
  <header>
  <% include ./partials/header %>
</header>
  <head>
    <title>MWDEX</title>
  </head>
<body>
<a href="javascript:history.back()"> Volver Atr&aacute;s</a>
<h4>Lista de alumnos matriculados:</h4>
<form method='GET' action='./grades' id="resp" enctype="application/x-www-form-urlencoded">
<input type="hidden" value=<%=url%> name='url'>
<input type="hidden" value=<%=array%> name='response'>
<input type="hidden" value=<%=token%> name='token'>
<input type="hidden" value=<%=courseid%> name='courseid'>
<input type="hidden" value=<%=workshopid%> name='workshopid'>

<div class="row" id="selector">
<div class="col-md-3">
<ul id="id" name="id"></ul>
<script type="text/javascript">
var arrays = <%- JSON.stringify(array) %>;
for(i=0;i<arrays.length;i++){
  var li = document.createElement("li");
  li.text = arrays[i].id+'-'+arrays[i].fullname;
  li.value = arrays[i].id;
  li.appendChild(document.createTextNode(li.text));
  document.getElementById("id").appendChild(li);
  
}
</script>
<input type = "radio" name = "check" value = "excel" /> Opci&oacute;n 1: Descargar datos en formato MS Excel (.xlsx)
<br/>
<input type = "radio" name = "check" value = "json1" /> Opci&oacute;n 2: Descargar JSON formateado (.json) [EXPERIMENTAL, no usar]
<br/>
<input type = "radio" name = "check" value = "json2" /> Opci&oacute;n 3: Descargar JSON original (.json) [EXPERIMENTAL, no usar]
<br/>
<input type = "radio" name = "check" value = "pivot" /> Visualizaci&oacute;n interactiva de datos y gráficas
<br/>
<input type = "radio" name = "check" value = "pivot_wdr" /> Tabla din&aacute;mica interactiva y exportaci&oacute;n
<br/>
<input type="submit" value="Descargar" padding="200px"> 
</form>

</body>
<footer>
<br/><br/>
    <% include ./partials/footer %>
</footer>
</html>